/* You can not modify anything from the HTML file */
/* You can only modify the CSS file */
*{
    margin: 0;
    padding: 0;
    font-family: Orbitron;
}

body
{
    font-family: orbitron;
    padding:10px;
    background-color: white;
    color:black;
    width: 95vw;

}
.container{
    height: 80vh;

}
.navbar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
   

}
nav>div>img{
    padding-left: 30px;
}
nav>div>ul{
    padding-left: 0%;
}

.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 80px;
    column-gap: 30px;
}

.list-item{
    list-style: none;
    margin-left: 25px;
    font-weight: 600;
    font-size: 30;
    order: ;
}
.list-item:first-child{
    font-size: larger;
    text-decoration: underline;
    order:1;

}
.list-item:nth-child(2){
    order:3;
}
.list-item:nth-child(3){
    order:2;
}
.list-item:nth-child(4){
    order:4;
}
.list-item:nth-child(5){
    order:5;
}

.button-group{
    display:flex;
    align-items: center;
}
.nav-button{
    height: 50px;
    border-radius: 10px;
    text-align: center;
    width:130px;
    margin-left: 10px;
    font-size:150%;
    color: rgba(0, 0, 0, 0.293);
    border: 3px solid black;
}
.hero-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.square img{
    position:relative;
    top: 235px;
    left: 42px;
    height: 320px;
}
.globe img{
   position: absolute;
   top: 115px;
   left:765px;
   width: 60px;
}
.hero-container>span:nth-child(2) img {
    position: absolute;
    top: 165px;
    right: 137px;
    width: 60px;
}

.hero-container>span:nth-child(3) img {
    position: absolute;
    top: 632px;
    left: 650px;
    width: 40px;
}
.hero-container>div>img {
    position:absolute;
    top: 155px;
    left: 30px;
    width: 400px;
    height: 500px;
    margin-left: 90px;

}
.hero-container-right{
    position: relative;
    top:160px;
    left: 130px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    
}
.icons{
    display:flex;
    flex-direction: row;
   margin-top: 15px;
    justify-content:flex-start;
    align-items:center;
    width: 100px;
    gap: 20px;
}
.hero-heading{
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 310%;
    padding-left: 20px;
}
.hero-description{
    text-align: center;
    font-size: 80%;
    margin-bottom: 80px;
    padding-right: 40px;
    width: 570px;

}
.button-email{
    height: 35px;
    width: 220px;
    border-radius: 10px;
    background-color: #fff;
    font-size: 21px;
    border: 3px solid #4c4c4c;
    color: #5b5b5a;
}
.button-join{
    margin-left: 15px;
    height: 33px;
    width: 130px;
    border-radius: 7px;
    background-color: #0b0c0e;
    font-size: 20px;
    border: none;
    color: #fff;

}
.contact-heading {
    margin-top: 100px;
    margin-left: 50px;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    color: #515151;
}